<footer class="footer">
<nav class="footer-nav">
    <ul class="footer-ul">
        <li><a href="/" class="footer-link">Home</a></li>
        <li><a href="/about" class="footer-link">About</a></li>
        <li><a href="/recent" class="footer-link">Recent Posts</a></li>
        <li><a href="/contact" class="footer-link">Contact</a></li>
    </ul>
</nav>
<nav class="footer-navig">
    <ul class="footer-list">
        <li><a href="https:\\github.com" class="footer-link">Github</a></li>
        <li><a href="https:\\facebook.com" class="footer-link">Facebook</a></li>
        <li><a href="https:\\mail.google.com" class="footer-link">Mail</a></li>
        <li><a href="https:\\twitter.com" class="footer-link">Twitter</a></li>
        <li><a href="https:\\instagram.com" class="footer-link">Instagram</a></li>
    </ul>
</nav>

</footer>