.header {
    max-width: 1480px;
    height: 100px;
}

.nav {
    width: 100%;
    // background-color: #393D3F;
    background-color: $black;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: $font;
}

.logo {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 17px;
    font-size: 25px;
}

ul {
    list-style: none;
    display: flex;
    padding-right: 42px;
}

ul li a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #FDFDFF;
    font-family:  $font;
    font-size: 20px;

}