<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navigation.html %}

    <div class="banner-container">
        <img src="assets/images/banner.jpg" alt="banner" class="banner-image">

        <div class="text">
            <div class="banner-text">Sample Blog</div>
            <div class="banner-subtext">This is a sample blog</div>
        </div>
    </div>

    <div class="post">
        <p class="page-description">Recent posts</p>
        <div class="posts-container">
            {% for post in site.posts limit:3 %}
            <div class="post-container">
                <img src="{{ post.img }}" alt="image" class="post-image">
                <div class="post-title">{{ post.title }}</div>
                <div class="post-description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere officiis magni eaque dolores illo
                    sit, doloremque reprehenderit iste officia. Quasi obcaecati nihil atque, a maiores odit perferendis
                    unde corporis non, ipsa deserunt nam adipisci esse. Corporis fugiat aliquam necessitatibus
                    distinctio. Mollitia deserunt maiores molestiae magni. Tempore quae asperiores consectetur alias!
                </div>
                <a href="{{ post.url }}" class="readmore">Read more...</a>
            </div>
            {% endfor %}


        </div>

        <div class="more-container">
            <div class="more">
                <div class="more-post">For more posts please visit recent post page</div>
                <a href="/recent">Recent posts</a>
            </div>
        </div>

    </div>

    <div class="description">
        <p class="main-description">Blog description</p>
        {{ site.description }}
    </div>

    {% include footernav.html %}




</body>

</html>