<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navigation.html %}

    <div class="banner-container">
        <img src="assets/images/banner.jpg" alt="banner" class="banner-image">

        <div class="text">
            <div class="banner-text">Sample Blog</div>
            <div class="banner-subtext">This is a sample blog</div>
        </div>
    </div>


    <div class="post">
        <p>Newest posts</p>
        <div class="posts-container">
            <div class="post-container">
                <img src="https://picsum.photos/200/300" alt="image" class="post-image">
                <div class="post-title">Post 1 Title</div>
                <div class="post-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In mollitia, nobis est aspernatur optio
                    dolorem
                    nisi qui officiis quaerat, assumenda placeat, voluptatibus recusandae. Nemo voluptate accusamus
                    labore
                    consequatur eius, maiores quam. Nesciunt perferendis, omnis nulla iste ipsum sit mollitia,
                    voluptatibus
                    nam temporibus at deserunt reprehenderit ea consequatur consectetur fugiat voluptatem!
                </div>
                <a href="/post1" class="readmore">Read more...</a>
            </div>

            <div class="post-container">
                <img src="https://picsum.photos/201/300" alt="image" class="post-image">
                <div class="post-title">Post 2 Title</div>
                <div class="post-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In mollitia, nobis est aspernatur optio
                    dolorem
                    nisi qui officiis quaerat, assumenda placeat, voluptatibus recusandae. Nemo voluptate accusamus
                    labore
                    consequatur eius, maiores quam. Nesciunt perferendis, omnis nulla iste ipsum sit mollitia,
                    voluptatibus
                    nam temporibus at deserunt reprehenderit ea consequatur consectetur fugiat voluptatem!
                </div>
                <a href="/post2" class="readmore">Read more...</a>
            </div>

            <div class="post-container">
                <img src="https://picsum.photos/202/300" alt="image" class="post-image">
                <div class="post-title">Post 3 Title</div>
                <div class="post-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sed officiis id suscipit impedit exercitationem quae placeat eveniet aperiam nobis. Magnam obcaecati repellat iure reprehenderit consequuntur corrupti doloremque neque officiis, autem alias. Numquam, laudantium. Animi nihil eveniet quis repellat quisquam tenetur omnis ut consectetur totam. Asperiores minima minus nulla tenetur.
                </div>
                <a href="/post3" class="readmore">Read more...</a>
            </div>


            <div class="more">
                <div class="more-post">For more posts please visit recent post page</div>
                <a href="/recent-posts">Recent posts</a>
            </div>
        </div>
    </div>



</body>

</html>