<!DOCTYPE html>
<html>
{% include head.html%}

<body>
    {% include navigation.html %}

    <div class="container">
        <img src="{{ page.img }}" alt="image" class="page-image">
        <!-- <div class="image-description">This is image description</div> -->
        <div class="page-title">{{ page.title }}</div>
        <div class="page-info">
            {{ page.pubdate }} {{ page.author }}
        </div>
        <div class="page-container">

            <p>{{ content }}</p>
        </div>
    </div>


    {% include footernav.html %}
</body>

</html>